---
layout: content
title: Sources
---

{% assign sorted_sources = "" | split: "" %}

{% for source_item in site.data.sources %}
  {% assign sorted_sources = sorted_sources | push: source_item[1] %}
{% endfor %}

{% assign sorted_sources = sorted_sources | sort: "name" %}

<h1>{{ page.title }}</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
{% for source in sorted_sources %}
    <tr>
      <td><a href="/sources/{{ source.key }}">{{ source.name }}</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>
