<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/bulma.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script defer src="/assets/js/alpine.min.js"></script>
  </head>
  <body class="has-navbar-fixed-top">

    <nav class="navbar is-fixed-top is-light" role="navigation" aria-label="main navigation" x-data="{ open: false }">
      <div class="container is-max-desktop">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            {{ site.title }}
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu" :class="{ 'is-active': open }" x-on:click="open = !open">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navMenu" class="navbar-menu" :class="{ 'is-active': open }">
          <div class="navbar-start">
          </div>
          <div class="navbar-end">
            {% if site.data.navigation %}
            {% for item in site.data.navigation %}
            <a href="{{ item.link | relative_url }}" class="navbar-item {% if page.url contains item.link %}is-active{% endif %}">
              {{ item.name }}
            </a>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container is-max-desktop">
        <h1 class="title">{{ page.title }}</h1>
        {% if page.subtitle %}
        <h2 class="subtitle">{{ page.subtitle }}</h2>
        {% endif %}
        <div class="content">
          {{ content }}
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container is-max-desktop">
        <p class="is-size-7 has-text-grey-lighter">
          Copyright &copy; Michael Dudley. All rights reserved.
        </p>
      </div>
    </footer>

  </body>
</html>
