---
layout: base
---

{% assign place = site.data.places[page.key] %}
{% assign breadcrumbs = "" | split: "" %}

{% if place.enclosing_place_key %}
{% assign enclosing_place = site.data.places[place.enclosing_place_key] %}
{% for i in (1..10) %}
  {% capture breadcrumb %}<li><a href="/places/{{ enclosing_place.key }}">{{ enclosing_place.name }}</a></li>{% endcapture %}
  {% assign breadcrumbs = breadcrumbs | push: breadcrumb %}

  {% unless enclosing_place.enclosing_place_key %}
  {% break %}
  {% endunless %}

  {% if site.data.places contains enclosing_place.enclosing_place_key %}
    {% assign enclosing_place = site.data.places[enclosing_place.enclosing_place_key] %}
  {% else %}
    ERROR: {{ enclosing_place.enclosing_place_key }} not found.
    {% break %}
  {% endif %}
{% endfor %}
{% endif %}

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li class="is-active"><a>World</a></li>
    {{ breadcrumbs | reverse }}
    <li class="is-active"><a href="#" aria-current="page">{{ place.name }}</a></li>
  </ul>
</nav>

<h1 class="title">{{ page.title }}</h1>

{% capture qualified_enclosing_place %}
{% include qualified-place-name.html place_key=place.enclosing_place_key %}
{% endcapture %}

{{ place.name }} is a {{ place.division }}{% if place.enclosing_place_key %} in {{ qualified_enclosing_place | strip }}{% endif %}.

<div class="content">
{{ content }}
</div>
